<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron bg-light p-5 rounded-lg m-3 text-center text-white">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">hello</p>
      <hr class="my-4">
      <p>hello</p>
      <a href="#" class="btn btn-success btn-lg" role="button">Sign up</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Your website</small>
  </div>
</footer>